<div class="container row mx-auto section pb-5" style="">
    <div class="w-75 px-5 mx-auto">
        <h2 class="mb-3 fs-1">
            Liên hệ
        </h2>
        <p class="text-secondary fw-bolder fs-5">
            Nếu bạn đang quan tâm đến các vị trí tuyển dụng/tuyển sinh tại Lesson, vui
            lòng liên hệ với chúng tôi:
        </p>
        <form action="" class="row g-3 mt-3">
            <div class="col-6">
                <div class="form-outline mb-3">
                    <input type="text" id="fullname" class="form-control border"/>
                    <label class="form-label" for="fullname">Họ và tên *</label>
                </div>
                <div class="form-outline mb-3">
                    <input type="text" id="tel" class="form-control border"/>
                    <label class="form-label" for="tel">Số điện thoại *</label>
                </div>
                <div class="form-outline mb-3">
                    <input type="text" id="email" class="form-control border"/>
                    <label class="form-label" for="email">Địa chỉ email</label>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group mb-3">
                    <select name="" id="" class="form-select">
                        <option value="">
                            Địa điểm làm việc
                        </option>
                        <option value="1">
                            Toàn quốc
                        </option>
                        <option value="1">
                            Hà Nội
                        </option>
                        <option value="1">
                            Hồ Chí Minh
                        </option>
                        <option value="1">
                            Đà Nẵng
                        </option>
                    </select>
                </div>
                <div class="form-group mb-3">
                    <select name="" id="" class="form-select">
                        <option value="">
                            Công nghệ
                        </option>
                        <option value="1">
                            .Net
                        </option>
                        <option value="1">
                            PHP
                        </option>
                        <option value="1">
                            Java
                        </option>
                        <option value="1">
                            DevOps
                        </option>
                    </select>
                </div>
                <div class="form-group mb-3">
                    <select name="" id="" class="form-select">
                        <option value="">
                            Thời gian làm việc
                        </option>
                        <option value="1">
                            Full time
                        </option>
                        <option value="1">
                            Part time
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-6 d-flex align-items-center">
                <input type="checkbox" name="" id="checkbox" class="form-check-input">
                <label for="checkbox" class="form-check-label form-label text-secondary m-0">Đăng ký nhận tin từ chúng
                    tôi</label>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <button class="btn btn-warning text-white fw-bolder rounded-pill px-4">
                    ĐĂNG KÝ
                </button>
            </div>
        </form>
    </div>
</div>