<div class="text-white banner"
     style="background: url('assets/img/banner/banner2.png') no-repeat fixed center top; background-size: cover; height: 670px;">
    <div class="" style="background-color: rgba(0,0,0,0.6); padding-top: 300px; height: 100%;">
        <div class="container mx-auto py-5 d-flex flex-column align-items-center justify-content-center">
            <p class="fs-3">
                {{ title }}
            </p>
            <h2 class="fs-1">
                HỌC TẬP VÀ THỰC HÀNH LIÊN TỤC
            </h2>
            <button class="btn btn-3 mt-3 rounded-pill text-white py-2 px-4">Đăng ký ngay</button>
        </div>
    </div>
</div>
<div class="container row mx-auto section pb-5" style="">
    <h2 class="mb-3 text-center">
        Chương trình đào tạo
    </h2>
    <form action="">
        <input type="text" class="form-control" placeholder="Nhập từ khóa">
    </form>
    <div class="row g-5 my-0 mx-auto p-0">
        <div class="overflow-hidden col-4">
            <a href="#" class="d-block bg-image hover-zoom rounded-4 rounded-bottom-0">
                <img src="assets/img/courses/software-testing.jpg" class="w-100 rounded-4 rounded-bottom-0" alt="">
            </a>
            <div class="px-3 pb-2 pt-3 border border-top-0 rounded-4 rounded-top-0">
                <a href="#" class="text-dark fs-4 text-decoration-none">
                    Software Testing
                </a>
                <div class="text-warning d-flex align-items-center" style="font-size: 18px;">
                    <i class="fa-solid fa-star"></i>
                    <span class="ms-2">4.5</span>
                </div>
                <p class="my-3 text-secondary" style="font-size: 18px; min-height: 104px;">
                    Cung cấp kiến thức, kĩ năng bài bản, nâng cao về Software Testing để trở thành Tester chuyên
                    nghiệp
                </p>
                <div class="my-4 d-flex justify-content-between align-items-center">
                    <p class="text-success fw-bold fs-5">
                        8.900.000 VNĐ
                    </p>
                    <button class="btn btn-dark rounded-pill py-2 px-4">
                        Xem chi tiết
                    </button>
                </div>
            </div>
        </div>
        <div class="overflow-hidden col-4">
            <a href="#" class="d-block bg-image hover-zoom rounded-4 rounded-bottom-0">
                <img src="assets/img/courses/fullstack-dotnet.jpg" class="w-100 rounded-4 rounded-bottom-0" alt="">
            </a>
            <div class="px-3 pb-2 pt-3 border border-top-0 rounded-4 rounded-top-0">
                <a href="#" class="text-dark fs-4 text-decoration-none">
                    Fullstack .Net Web Developer
                </a>
                <div class="text-warning d-flex align-items-center" style="font-size: 18px;">
                    <i class="fa-solid fa-star"></i>
                    <span class="ms-2">4.5</span>
                </div>
                <p class="my-3 text-secondary" style="font-size: 18px; min-height: 104px;">
                    Cung cấp kiến thức từ cơ bản đến nâng cao để trở thành .Net Web Full-Stack Developer chuyên
                    nghiệp
                </p>
                <div class="my-4 d-flex justify-content-between align-items-center">
                    <p class="text-success fw-bold fs-5">
                        24.900.000 VNĐ
                    </p>
                    <button class="btn btn-dark rounded-pill py-2 px-4">
                        Xem chi tiết
                    </button>
                </div>
            </div>
        </div>
        <div class="overflow-hidden col-4">
            <a href="#" class="d-block bg-image hover-zoom rounded-4 rounded-bottom-0">
                <img src="assets/img/courses/devops.jpg" class="w-100" alt="">
            </a>
            <div class="px-3 pb-2 pt-3 border border-top-0 rounded-4 rounded-top-0">
                <a href="#" class="text-dark fs-4 text-decoration-none">
                    DevOps Foundation
                </a>
                <div class="text-warning d-flex align-items-center" style="font-size: 18px;">
                    <i class="fa-solid fa-star"></i>
                    <span class="ms-2">4.5</span>
                </div>
                <p class="my-3 text-secondary" style="font-size: 18px; min-height: 104px;">
                    Cung cấp kiến thức cơ bản, nâng cao cần thiết để làm việc với DevOps
                </p>
                <div class="my-4 d-flex justify-content-between align-items-center">
                    <p class="text-success fw-bold fs-5">
                        11.900.000 VNĐ
                    </p>
                    <button class="btn btn-dark rounded-pill py-2 px-4">
                        Xem chi tiết
                    </button>
                </div>
            </div>
        </div>
        <div class="overflow-hidden col-4">
            <a href="#" class="d-block bg-image hover-zoom rounded-4 rounded-bottom-0">
                <img src="assets/img/courses/business-analyst.png" class="w-100 rounded-4 rounded-bottom-0" alt="">
            </a>
            <div class="px-3 pb-2 pt-3 border border-top-0 rounded-4 rounded-top-0">
                <a href="#" class="text-dark fs-4 text-decoration-none">
                    IT – Business Analyst Foundation
                </a>
                <div class="text-warning d-flex align-items-center" style="font-size: 18px;">
                    <i class="fa-solid fa-star"></i>
                    <span class="ms-2">4.5</span>
                </div>
                <p class="my-3 text-secondary" style="font-size: 18px; min-height: 104px;">
                    Khóa học cung cấp kiến thức, kỹ năng bài bản và nâng cao về phân tích nghiệp vụ cho dự án phần mềm.
                </p>
                <div class="my-4 d-flex justify-content-between align-items-center">
                    <p class="text-success fw-bold fs-5">
                        9.900.000 VNĐ
                    </p>
                    <button class="btn btn-dark rounded-pill py-2 px-4">
                        Xem chi tiết
                    </button>
                </div>
            </div>
        </div>
        <div class="overflow-hidden col-4">
            <a href="#" class="d-block bg-image hover-zoom rounded-4 rounded-bottom-0">
                <img src="assets/img/courses/react-native.png" class="w-100 rounded-4 rounded-bottom-0" alt="">
            </a>
            <div class="px-3 pb-2 pt-3 border border-top-0 rounded-4 rounded-top-0">
                <a href="#" class="text-dark fs-4 text-decoration-none">
                    React Native Developer
                </a>
                <div class="text-warning d-flex align-items-center" style="font-size: 18px;">
                    <i class="fa-solid fa-star"></i>
                    <span class="ms-2">4.5</span>
                </div>
                <p class="my-3 text-secondary" style="font-size: 18px; min-height: 104px;">
                    Khóa học cung cấp kiến thức chuyên sâu để trở thành chuyên gia React Native
                </p>
                <div class="my-4 d-flex justify-content-between align-items-center">
                    <p class="text-success fw-bold fs-5">
                        8.900.000 VNĐ
                    </p>
                    <button class="btn btn-dark rounded-pill py-2 px-4">
                        Xem chi tiết
                    </button>
                </div>
            </div>
        </div>
        <div class="overflow-hidden col-4">
            <a href="#" class="d-block bg-image hover-zoom rounded-4 rounded-bottom-0">
                <img src="assets/img/courses/python-ml.png" class="w-100" alt="">
            </a>
            <div class="px-3 pb-2 pt-3 border border-top-0 rounded-4 rounded-top-0">
                <a href="#" class="text-dark fs-4 text-decoration-none">
                    Python/Machine Learning
                </a>
                <div class="text-warning d-flex align-items-center" style="font-size: 18px;">
                    <i class="fa-solid fa-star"></i>
                    <span class="ms-2">4.5</span>
                </div>
                <p class="my-3 text-secondary" style="font-size: 18px; min-height: 104px;">
                    Khóa học cung cấp kiến thức bài bản và bổ trợ kỹ năng về Lập trình Python và Machine Learning.
                </p>
                <div class="my-4 d-flex justify-content-between align-items-center">
                    <p class="text-success fw-bold fs-5">
                        13.900.000 VNĐ
                    </p>
                    <button class="btn btn-dark rounded-pill py-2 px-4">
                        Xem chi tiết
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end align-items-center px-5 mt-3">
        <a href="#" class="text-decoration-none me-3 text-dark">
            1
        </a>
        <a href="#" class="text-decoration-none me-3 text-secondary">
            2
        </a>
        <a href="#" class="text-decoration-none me-3 text-secondary">
            <i class="fa-solid fa-angle-right angle-right-icon"></i>
        </a>
    </div>
</div>