<div class="container row mx-auto mt-5 pb-5" style="">
    <div class="col-9 px-3">
        <h1 style="font-size: 50px;">
            {{ course.name }}
        </h1>
        <p class="text-secondary">
            {{ course.desc }}
        </p>
        <div class="my-5">
            <h3 class="fs-1">
                Bạn sẽ học được gì?
            </h3>
            <div class="row g-2 my-2">
                <p class="col-6" style="font-size: 18px;" ng-repeat="item in course.target">
                    <i class="fa-solid fa-check text-warning"></i>
                    <span class="text-secondary">
                            {{ item }}
                    </span>
                </p>
            </div>
        </div>
        <div class="my-5">
            <h3 class="fs-1">
                Lộ trình khóa học
            </h3>
            <div class="my-3 route-list" style="width: 80%;">
                <div class="shadow rounded p-3 mb-3 route-item" ng-repeat="route in course.routes">
                    <div class="d-flex justify-content-between align-items-center route-title"
                         style="cursor: pointer; user-select: none;">
                        <h6 class="fs-4 m-0">
                            {{ route.overview.title }}
                        </h6>
                        <span class="text-secondary">
                                {{ route.overview.time }}
                                <i class="ms-2 fa-solid fa-angle-down"
                                   style="transform: rotate(0deg);"></i>
                            </span>
                    </div>
                    <div class="mt-3 route-content" style="display: none;">
                        <p class="text-secondary mb-2" ng-repeat="session in route.sessions">
                            {{ session }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-5">
            <h3 class="fs-1">
                Yêu cầu
            </h3>
            <div class="my-3">
                <p class="" style="font-size: 18px" ng-repeat="requirement in course.requirement">
                    <i class="fa-solid fa-check text-warning me-2"></i>
                    <span class="text-secondary">
                            {{ requirement }}
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="mb-3">
            <img src="{{ course.img }}" alt="" class="w-100">
            <div class="p-3 bg-secondary" style="--bs-bg-opacity: .1;">
                <h5 class="text-success">
                    {{ course.price }}
                </h5>
                <div class="mt-3 d-flex">
                    <div class="me-3">
                        <i class="fa-regular fa-clock text-success"></i>
                    </div>
                    <div class="">
                        <h6 class="fw-bold">
                            Thời lượng
                        </h6>
                        <p class="text-secondary" style="font-size: 18px;">
                            {{ course.time }}
                        </p>
                    </div>
                </div>
                <div class="mt-3 d-flex">
                    <div class="me-3">
                        <i class="fa-regular fa-user text-success"></i>
                    </div>
                    <div class="">
                        <h6 class="fw-bold">
                            Số lượng học viên
                        </h6>
                        <p class="text-secondary" style="font-size: 18px;">
                            {{ course.students }}
                        </p>
                    </div>
                </div>
                <div class="mt-3 d-flex">
                    <div class="me-3">
                        <i class="fa-solid fa-location-dot text-success"></i>
                    </div>
                    <div class="">
                        <h6 class="fw-bold">
                            Địa điểm
                        </h6>
                        <p class="text-secondary" style="font-size: 18px;">
                            {{ course.address }}
                        </p>
                    </div>
                </div>
            </div>
            <a href="#!/order/{{ course.id }}" class="btn btn-dark mt-3 w-100 rounded py-2">
                Nhận tư vấn
            </a>
            <button class="btn btn-warning text-white mt-3 w-100 rounded py-2">
                Lịch khai giảng
            </button>
        </div>
        <div class="mb-3 py-3">
            <h5 class="text-secondary fw-bolder fs-4 mb-3" style="--bs-text-opacity: .7;">
                Giảng viên
            </h5>
            <div ng-repeat="mentor in course.mentor" class="mb-3">
                <img src="{{ mentor.avatar }}" alt="" class="w-100">
                <div class="mt-2 text-secondary">
                    <p class="fw-bold fs-5 m-0">
                        {{ mentor.name }}
                    </p>
                    <span>
                        <i class="fa-solid fa-location-dot"></i>
                        {{ mentor.address }}
                    </span>
                </div>
            </div>
        </div>
        <div class="mb-3 py-3">
            <h5 class="text-secondary fw-bolder fs-4 mb-3" style="--bs-text-opacity: .7;">
                Khóa học nổi bật
            </h5>
            <div class="mt-2 text-secondary">
                <div class="row align-items-center mb-3">
                    <div class="col-3 pe-0">
                        <a href="#!/khoa-hoc/3" class="text-decoration-none">
                            <img src="assets/img/courses/devops.jpg" alt="" class="w-100 h-100">
                        </a>
                    </div>
                    <div class="col-9">
                        <a href="#!/khoa-hoc/3" class="text-secondary text-decoration-none fw-bolder">
                            DevOps Foundation
                        </a>
                    </div>
                </div>
                <div class="row align-items-center mb-3">
                    <div class="col-3 pe-0">
                        <a href="#!/khoa-hoc/1" class="text-decoration-none">
                            <img src="assets/img/courses/software-testing.jpg" alt="" class="w-100 h-100">
                        </a>
                    </div>
                    <div class="col-9">
                        <a href="#!/khoa-hoc/1" class="text-secondary text-decoration-none fw-bolder">
                            Software Testing
                        </a>
                    </div>
                </div>
                <div class="row align-items-center mb-3">
                    <div class="col-3 pe-0">
                        <a href="#!/khoa-hoc/2" class="text-decoration-none">
                            <img src="assets/img/courses/fullstack-dotnet.jpg" alt="" class="w-100 h-100">
                        </a>
                    </div>
                    <div class="col-9">
                        <a href="#!/khoa-hoc/2" class="text-secondary text-decoration-none fw-bolder">
                            Fullstack .Net Web Developer
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>