<div style="background-color: #FFFCF4">
    <div class="container m-auto">
        <div class="row py-5">
            <div class="col-6 text-center">
                <img src="assets/img/header/banner-img.png" alt="">
            </div>
            <div class="col-6 px-5">
                <h1 class="text-start" style="font-size: 50px;">
                    Trao cơ hội & <br> Thúc đẩy sáng tạo
                </h1>
                <p class="mt-3 text-secondary" style="text-align: justify; font-size: 18px;">
                    Với sứ mệnh cung cấp và đào tạo nguồn nhân lực IT chất lượng cao cho các dự án lớn trên toàn
                    cầu, Lesson mang đến cơ hội nghề nghiệp không giới hạn và môi trường đào tạo chuyên nghiệp theo
                    tiêu chuẩn quốc tế. Lesson chính là nơi khởi đầu cho những thành công của các kỹ sư CNTT trong
                    tương lai.
                </p>
                <div class="btn-group mt-3 shadow-none">
                    <button class="btn btn-warning rounded-pill fw-bolder py-3 px-5 text-white me-3"
                            style="font-size: 20px;">
                        Xem khóa học
                    </button>
                    <button class="btn btn-outline-warning rounded-pill fw-bolder py-3 px-5 text-center d-flex align-items-center"
                            style="font-size: 20px;">
                        <i class="fa-solid fa-play d-inline-flex justify-content-center align-items-center bg-light text-warning rounded-circle shadow-lg me-2"
                           style="width: 30px; height: 30px; font-size: 12px"></i>
                        Xem video
                    </button>
                </div>
                <div class="row mt-3">
                    <p class="col-6 text-secondary" style="font-size: 20px;">
                            <span class="fw-bolder me-1 text-dark" style="font-size: 40px;">
                                50K
                            </span>
                        học viên
                    </p>
                    <p class="col-6 text-secondary" style="font-size: 20px;">
                            <span class="fw-bolder me-1 text-dark" style="font-size: 40px;">
                                70+
                            </span>
                        khóa học
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container row mx-auto section" style="">
    <h2 class="fw-bolder">
        Các khóa học phổ biến
    </h2>
    <div class="d-flex justify-content-between align-items-center mt-2">
        <p class="text-secondary" style="font-size: 20px">
            Rèn luyện kỹ năng với những khóa học hot cho một công việc tốt trong tương lai
        </p>
        <div class="btn-group shadow-none">
            <a href="" class="btn btn-outline-warning rounded-circle me-2">
                <i class="fa-solid fa-angle-left angle-left-icon angle-icon"></i>
            </a>
            <a href="" class="btn btn-outline-warning rounded-circle">
                <i class="fa-solid fa-angle-right angle-right-icon angle-icon"></i>
            </a>
        </div>
    </div>
    <div class="row g-3 p-0">
        <div class="overflow-hidden col" ng-repeat="course in courses">
            <a href="#!/khoa-hoc/{{ course.id }}" class="d-block bg-image hover-zoom rounded-4 rounded-bottom-0">
                <img src="{{ course.img }}" class="w-100 rounded-4 rounded-bottom-0" alt="">
            </a>
            <div class="px-3 pb-2 pt-3 border border-top-0 rounded-4 rounded-top-0">
                <a href="#!/khoa-hoc/{{ course.id }}" class="text-dark fs-4 text-decoration-none">
                    {{ course.name }}
                </a>
                <div class="text-warning d-flex align-items-center" style="font-size: 18px;">
                    <i class="fa-solid fa-star"></i>
                    <span class="ms-2">4.5</span>
                </div>
                <p class="my-3 text-secondary" style="font-size: 18px; min-height: 104px;">
                    {{ course.desc }}
                </p>
                <div class="my-4 d-flex justify-content-between align-items-center">
                    <p class="text-success fw-bold fs-5">
                        {{ course.price }}
                    </p>
                    <a href="#!/khoa-hoc/{{ course.id }}" class="text-decoration-none btn btn-dark rounded-pill py-2 px-4">
                        Xem chi tiết
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section" style="background-color: #2E2100">
    <div class="container mx-auto p-5 row justify-content-between align-items-center text-white">
        <div class="col-3">
            <img src="assets/img/testimonial/testimonial-author.jpg" class="rounded-circle" style="width: 72px;"
                 alt="">
            <h4 class="mt-2 fw-bolder">
                Quang Vinh
            </h4>
            <p class="mt-2 text-light">
                Manager FPT Software
            </p>
        </div>
        <p class="col-9 fs-3 px-5" style="text-align: justify;">
            Lesson đã trang bị được cho học viên kiến thức cơ bản và cọ sát với thực tế của dự án lên khi join dự án
            cũng không bị tốn quá nhiều thời gian để có thể thích nghi.
        </p>
    </div>
</div>
<div class="container row mx-auto section" style="">
    <h2 class="text-center">
        Blog của chúng tôi
    </h2>
    <p class="text-secondary text-center mt-2" style="font-size: 20px">
        Cùng nhau chia sẻ kiến thức bổ ích về lập trình mỗi ngày
    </p>
    <div class="row g-3 p-0">
        <div class="overflow-hidden col">
            <a href="#" class="d-block bg-image hover-zoom rounded-4 rounded-bottom-0">
                <img src="assets/img/blogs/post1.jpg" class="w-100 rounded-4 rounded-bottom-0" alt="">
            </a>
            <div class="px-3 pb-2 pt-3 border border-top-0 rounded-4 rounded-top-0">
                <p class="my-3 text-secondary pb-2 border-3 border-bottom" style="font-size: 14px;">
                    21 November 2021
                </p>
                <a href="#" class="text-dark fw-bold fs-6 text-decoration-none d-block" style="min-height: 50px;">
                    Hành trình “nhảy nghề” sang làm Business Analyst (BA) của nữ 9x học Khách sạn Du lịch
                </a>
                <div class="my-4 d-flex justify-content-between align-items-center">
                    <button class="btn btn-dark rounded-pill py-2 px-4">
                        Chi tiết
                    </button>
                </div>
            </div>
        </div>
        <div class="overflow-hidden col">
            <a href="#" class="d-block bg-image hover-zoom rounded-4 rounded-bottom-0">
                <img src="assets/img/blogs/post2.png" class="w-100 rounded-4 rounded-bottom-0" alt="">
            </a>
            <div class="px-3 pb-2 pt-3 border border-top-0 rounded-4 rounded-top-0">
                <p class="my-3 text-secondary pb-2 border-3 border-bottom" style="font-size: 14px;">
                    26 August 2021
                </p>
                <a href="#" class="text-dark fw-bold fs-6 text-decoration-none d-block" style="min-height: 50px;">
                    Đào tạo IT, ngành HOT nhưng vẫn thiếu nguồn nhân lực
                </a>
                <div class="my-4 d-flex justify-content-between align-items-center">
                    <button class="btn btn-dark rounded-pill py-2 px-4">
                        Chi tiết
                    </button>
                </div>
            </div>
        </div>
        <div class="overflow-hidden col">
            <a href="#" class="d-block bg-image hover-zoom rounded-4 rounded-bottom-0">
                <img src="assets/img/blogs/post3.jpg" class="w-100 rounded-4 rounded-bottom-0" alt="">
            </a>
            <div class="px-3 pb-2 pt-3 border border-top-0 rounded-4 rounded-top-0">
                <p class="my-3 text-secondary pb-2 border-3 border-bottom" style="font-size: 14px;">
                    16 July 2021
                </p>
                <a href="#" class="text-dark fw-bold fs-6 text-decoration-none d-block" style="min-height: 50px;">
                    Học lập trình ứng dụng nên chọn ngôn ngữ nào?
                </a>
                <div class="my-4 d-flex justify-content-between align-items-center">
                    <button class="btn btn-dark rounded-pill py-2 px-4">
                        Chi tiết
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>