<div class="container row mx-auto section pb-5" style="">
    <div class="w-75 p-5 mx-auto shadow-lg rounded-5">
        <h2 class="mb-3 fs-1">
            {{ course.name }}
        </h2>
        <p class="text-secondary fw-bolder fs-5">
            Điền thông tin của bạn để nhận tư vấn về khóa học
        </p>
        <form action="" class="row g-3 mt-3">
            <div class="col-6">
                <div class="form-outline mb-3">
                    <input type="text" id="fullname" class="form-control border"/>
                    <label class="form-label" for="fullname">Họ và tên *</label>
                </div>
            </div>
            <div class="col-6">
                <div class="form-outline mb-3">
                    <input type="text" id="tel" class="form-control border"/>
                    <label class="form-label" for="tel">Số điện thoại *</label>
                </div>
            </div>
            <div class="col-6">
                <div class="form-outline mb-3">
                    <input type="date" id="dob" class="form-control border"/>
                    <label class="form-label" for="dob">Ngày sinh</label>
                </div>
            </div>
            <div class="col-6">
                <div class="form-outline mb-3">
                    <input type="text" id="email" class="form-control border"/>
                    <label class="form-label" for="email">Địa chỉ email *</label>
                </div>
            </div>
            <div class="form-outline mb-3 col-6">
                <select name="" id="" class="form-select">
                    <option value="">
                        Khu vực
                    </option>
                    <option value="1">
                        Toàn quốc
                    </option>
                    <option value="1">
                        Hà Nội
                    </option>
                    <option value="1">
                        Hồ Chí Minh
                    </option>
                    <option value="1">
                        Đà Nẵng
                    </option>
                </select>
            </div>
            <div class="form-outline mb-3 col-6">
                <select name="" id="" class="form-select">
                    <option value="">
                        Thời gian học
                    </option>
                    <option value="1">
                        Full time
                    </option>
                    <option value="1">
                        Part time
                    </option>
                </select>
            </div>
            <div class="col-6">
                <div class="form-outline mb-3">

                    <label for="" class="form-label me-3">Giới tính:</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="male"
                               value="male" checked/>
                        <label class="form-check-label" for="male">Nam</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="female"
                               value="female"/>
                        <label class="form-check-label" for="female">Nữ</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="other"
                               value="other"/>
                        <label class="form-check-label" for="other">Khác</label>
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center gap-3">
                <button type="reset" class="btn btn-info text-white fw-bolder rounded-pill py-2 px-3">
                    Reset
                </button>
                <button class="btn btn-warning text-white fw-bolder rounded-pill py-2 px-3">
                    ĐĂNG KÝ
                </button>
            </div>
        </form>
    </div>
</div>