.section {
    margin: 100px 0;
}

.btn-outline-warning:hover {
    color: white !important;
}

.btn-3 {
    /*color: white;*/
    transition: 0.5s !important;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

.btn-3:hover {
    background-position: right center !important; /* change the direction of the change here */
}

.route-title i {
    transition: all 0.15s linear;
}

.form-select {
    padding: 0.32rem 0.75rem;
}